/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

:root {
    --color-primary: 34, 197, 94;
    --color-primary-rgb: 34, 197, 94;
    --color-primary-light: 144, 238, 144;
    --color-primary-light-rgb: 144, 238, 144;
    --color-primary-dark: 0, 128, 0;
    --color-primary-dark-rgb: 0, 128, 0;
  
    --color-secondary: 59, 130, 246;
    --color-secondary-rgb: 59, 130, 246;
    --color-secondary-light: 96, 165, 250;
    --color-secondary-light-rgb: 96, 165, 250;
    --color-secondary-dark: 37, 99, 235;
    --color-secondary-dark-rgb: 37, 99, 235;
  
    --color-accent: 236, 72, 153;
    --color-accent-rgb: 236, 72, 153;
    --color-accent-light: 244, 114, 182;
    --color-accent-light-rgb: 244, 114, 182;
    --color-accent-dark: 209, 67, 133;
    --color-accent-dark-rgb: 209, 67, 133;
  
    --color-background: 255, 255, 255;
    --color-surface: 245, 245, 245;
    --color-text: 17, 24, 39;
    --color-text-rgb: 17, 24, 39;
    --color-text-light: 107, 114, 128;
    --color-border: 209, 213, 219;
  }
  